*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}


body{
    width: 100%;
    height: 100%;
    background-color: #EAEBEC;
    overflow-x: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 6vw;
    background-color: #101010;
    padding: 10px;
    box-shadow: 0px 5px 20px #000;
    align-items: center;
    flex-wrap: wrap;
    overflow-x: hidden;
}


.hero-cont {
  height: 30vw;
  position: relative;
  overflow: hidden;
  text-align: center;
  box-shadow: 0px 5px 20px #000;
  margin: -10px;
}


.hero-img {
  position: relative;
  overflow: hidden;
  background-image: url(https://i.imgur.com/9IOPJbY.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  box-shadow: 0px 5px 20px #000;
  margin: -10px;
  margin-bottom: 1.5vw;
}

.logo{
    width: 45px;
    height: 45px;
    border-radius: 10px;
}

.menu{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.menu li a{
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    margin-left: 10px;
    border-radius: 10px;
}

.menu li a:hover{
    color: #fff;
    display: block;
    text-decoration: none;
    background-color: #333;
    margin-left: 10px;
}

h1{
    color: #333;
    text-align: center;
    margin-top: 20px;
}

section.container h1{
  text-align: center;
}

.img__wrap {
  position: relative;
  

}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #79071a98;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  border-radius: 10px;
  transition: opacity .2s, visibility .2s;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height:18vw;
}


.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.container div{
   flex: 1 1 350px;
   margin: 10px;
}

.container a{
    flex: 1 1 350px;
    margin: 10px;
 }

img{
    width: 100%;
    border-radius: 10px;
}



.textodiv{
  display: block;
}








footer{
    position: relative;
    bottom: 0px;
    width: 100%;
    background: #111;
    color: rgb(162, 162, 162);
    overflow-x: hidden;
  }
  .principal{
    display: flex;
  }
  .principal .box{
    flex-basis: 50%;
    padding: 10px 20px;
  }
  .box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .box .conteudo{
    margin: 20px 0 0 0;
    position: relative;
  }
  .box .conteudo:before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
  }
  .box .conteudo:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #fcf47e;
    top: -10px;
  }
  .left .conteudo p{
    text-align: justify;
  }
  .left .conteudo .social{
    margin: 20px 0 0 0;
    color: white;
  }
  .left .conteudo .social a{
    padding: 0 2px;
  }
  .left .conteudo .social a span{
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
  }
  .left .conteudo .social a span:hover{
    background: #fcf47e;
  }
  .center .conteudo .fas{
    font-size: 1.4375rem;
    background: #1a1a1a;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
  }
  .center .conteudo .fas:hover{
    background: #fcf47e;
  }
  .center .conteudo .text{
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
  }
  .center .conteudo .phone{
    margin: 15px 0;
  }
  .right form .text{
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #656565;
  }
  .right form .msg{
    margin-top: 10px;
  }
  .right form input, .right form textarea{
    width: 100%;
    font-size: 1.0625rem;
    background: #151515;
    padding-left: 10px;
    border: 1px solid #222222;
  }
  .right form input:focus,
  .right form textarea:focus{
    outline-color: #3498db;
  }
  .right form input{
    height: 35px;
  }
  .right form .btn{
    margin-top: 10px;
  }
  .right form .btn button{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: #fcf47e;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
  }
  .right form .btn button:hover{
    background: #9e994c;
  }
  .bottom center{
    padding: 5px;
    font-size: 0.9375rem;
    background: #151515;
  }
  .bottom center span{
    color: #656565;
  }
  .bottom center a{
    color: #fcf47e;
    text-decoration: none;
  }
  .bottom center a:hover{
    text-decoration: underline;
  }






















  @media screen and (max-width: 600px) {
    .hero-cont {
     display:none;
    }

    header{
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 15vw;
      background-color: #101010;
      padding: 10px;
      box-shadow: 0px 5px 20px #000;
      align-items: center;
      flex-wrap: wrap;
      overflow: hidden;
  }

  .logo{
    width: 45px;
    height: 45px;
    border-radius: 10px;
    float: left;
}

.menu{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    float: right;
    font-size: 0.9em;
}

    footer{
      position:static;
      bottom: 0px;
    }
    .principal{
      flex-wrap: wrap;
      flex-direction: column;
    }
    .principal .box{
      margin: 5px 0;
    }
    
  }

  p.dados{
    margin: 2vw 0vw 5vw 1vw;
    color: #1E1E1E;
    text-align: center;
    font-size: 1.5em;
  }

  p.texto{
    font-size: 1.3em;
    color: #1E1E1E;
    text-align: justify;
  }

